 body {
        background: #f4f6f9;
    }

    .main-content {
        margin-left: 260px;
        padding: 30px;
    }

    .card {
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
    }

    .tabla-scroll {
        max-height: 500px;
        overflow-y: auto;
    }

    .badge-stock {
        font-size: .85rem;
        padding: 6px 10px;
    }
    .sticky-header th{
    position: sticky;
    top: 0;
    z-index: 10;
    background: #212529; /* mismo color que table-dark */
}