 body {
        background: #f4f6f9;
    }

    .main-content {
        margin-left: 260px;
        padding: 30px;
    }

    .card {
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
    }

    .tabla-scroll {
        max-height: 500px;
        overflow-y: auto;
    }

    .badge-stock {
        font-size: .85rem;
        padding: 6px 10px;
    }
    .sticky-header th{
    position: sticky;
    top: 0;
    z-index: 10;
    background: #212529; /* mismo color que table-dark */
}
/* Ajuste para que el contenido no se meta debajo del sidebar */
.main-content {
    margin-left: 260px; /* Ajusta este valor al ancho real de tu sidebar */
    padding: 25px;
    min-height: 100vh;
    transition: all 0.3s ease;
    background-color: #f8f9fa; /* Un gris muy claro para diferenciar el fondo */
}

/* Ajuste para pantallas pequeñas (Celulares) */
@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding: 15px;
    }
}
/* El Sidebar suele tener z-index alto, vamos a superarlo */
/* MODALES: Forzamos a que estén por encima de Navbar y Sidebar */
.modal { 
    z-index: 1060 !important; 
}
